.container{
	width: 50vw;
	margin: 0 auto;
}

.a {
    height: 300px;
    width: 300px;
    background-color: green;
	float: left;
}

.b {
    height: 300px;
    width: 300px;
    background-color: blue;
	right: 50px;
	top: 50px;
	display: none;
	position: fixed;
}